compiled/*/*.php
vendor/
backend/design/compiled/*.php

files/*/*.*
files/uploads/*/
files/thumbs/*/
!files/lang/*.*
!files/downloads/market_categories.csv

backend/files/*/*.*
cml/*/*.*
cml/*/*/*.*
cml/.passwd

config/config.local.php
1DB_changes/
1README/

build/stdout
build/log/*.log

.idea/
tmp/
nbproject/
log/

!*.keep_folder
!*.htaccess
cml/.htaccess
robots.txt