compiled/*/*.php
backend/design/compiled/*.php

files/*/*.*
files/uploads/*/
files/thumbs/*/
!files/lang/*.*
!files/downloads/market_categories.csv

backend/files/*/*.*
cml/*/*.*
cml/*/*/*.*
cml/.passwd

config/config.develop.php
1DB_changes/
1README/
migration/migrate.bat
migration/migrate.sh

.idea/
tmp/
nbproject/

!*.keep_folder
!*.htaccess